*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article{
    background-color: #D8D8D8;
    border: 1px solid #979797;
}

.contenedor{
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
}

.subcontenedor1{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
  }

.subcontenedor2{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 20px;
  }

.sec1{
    height: 300px;
}

.subcontenedor3{
    height: 200px;
    background-color: #D8D8D8;
    border: 1px solid #979797;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sec2{
    height: 120px;
}

.head{
    height: 80px;
    max-width: 1024px;
    width: 100%;
    background-color: #D8D8D8;
    border: 1px solid #979797;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sec6{
    width: 150px;
    height: 150px;
}

@media (max-width:500px){

    .subcontenedor1, .subcontenedor2{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 0;
      }
    
      .sec1,.sec2{
          margin-bottom: 20px;
      }

}